body {
       margin:0;
       text-align : center;
       color : #40514E;
       font-family: 'Roboto', sans-serif;
}
.bottom-cloud {
         position:absolute;
         left:20%;
         top: 30%;
}
bottom-container {
        padding : 20px;
        background-color : #66BFBF;
}
.footer-link {
        color : #EAF6F6
}
h1 {
        margin-top:0px;
        padding-top : 100px;
        font-family: 'Sacramento', cursive;
        font-size : 562.5%;
        color : #66BFBF;
}
h2 {
        font-family: 'Merienda', cursive;
        font-size : 2.5rem;
        color : #66BFBF;
        font-weight : normal;
}
h3 {
         font-family: 'Merienda', cursive;
         color :#11999E;
}
hr {
        border : none;
        border-top : dotted;
        width : 4%;
        border-width : 5px;
        border-color : grey;
}
.pro {
        text-decoration: underline
}
.profile_image {
       border-radius : 50%;
       padding-top : 20px;
}
.top-cloud {
         position:absolute;
         left :65%;
         top : 10%;
}
.top-container {
        background-color:#EAFDFC;
        position:relative;
        padding-top :100px
        color : #11999E;
}
.skill-image1 {
        border-radius : 50%;
        width : 40%;
        background-color:pink;
        float : left;
        position : relative;
        bottom : 30px;
        margin-right : 40px;
}
.skill-image2 {
        border-radius : 50%;
        width : 40%;
        float : right;
        position : relative;
        bottom : 50px;
        background-color:#EAFDFC;
}
.skill-row {
        width : 40%;
        margin : 100px auto 0px;
        text-align:left;
        position : relative;
        margin-bottom : 150px;
}


.BUTTON_EYW {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 200;
   padding: 21px;
   background-color: #19CED3;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top : 30px;
   margin-bottom : 100px;
}

.BUTTON_EYW:hover {
   background: #1E62D0;
   border: solid #3B67A7 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}